<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Health Data Visualization</title>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="../static/buttons.js"></script> -->

    <!-- <link rel="stylesheet" type="text/css" href="../static/app.css"> -->
</head>
<style>
  .chart rect {
  	fill: steelblue;
  }

  .chart text {
  	fill: white;
  	font: 10px sans-serif;
  	text-anchor: end;
  }

</style>
<body>
	<h1>Results</h1>
  <svg class="chart"></svg>
  <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>

  <script src= "../static/end.js"> </script>


</body>
</html>
