<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Health Data Visualization</title>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="../static/buttons.js"></script> -->

    <!-- <link rel="stylesheet" type="text/css" href="../static/app.css"> -->
</head>
<style>
#playground {border: 1px solid black}
</style>
<body>
    <div> <b>Find which Tech Job is Best Suited for You </b><br></div>
    <div>
<canvas height= "600" width = "600" id = "playground">
  dis dat alt text
</canvas>
    </div>
    <button id="clear">clear</button>

    <script src="../static/buttons.js"></script>


    <!-- <div id="filter"></div>
    <div id="bubble"></div>
    <script src="../static/filter.js"></script>
    <script src="../static/bubble.js"> </script> -->
</body>
</html>
