<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Health Data Visualization</title>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="../static/buttons.js"></script> -->

    <!-- <link rel="stylesheet" type="text/css" href="../static/app.css"> -->
</head>
<style>
#playground {border: 1px solid black ; background-color: white }
canvas {
    padding: 0;
 margin: auto;
 display: block;
 width: 960px;
 height: 550px;
 position: relative;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0; 
}
	body {background-color : rgb(201, 76, 76) ;}
	h1{color: #FF1439 ; text-align: center }
</style>
<body>
	<div>
		<h1>Which Tech Job is best Suited for you</h1>
		<canvas id = "playground" ></canvas>
    </div>
    <!-- <button id="clear">clear</button> -->

    <script src="../static/buttons.js"></script>


    <!-- <div id="filter"></div>
    <div id="bubble"></div>
    <script src="../static/filter.js"></script>
    <script src="../static/bubble.js"> </script> -->
</body>
</html>
